{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic", 
        "importSource": "preact"
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "h",
      "pragmaFrag": "Fragment"
    }]
  ]
}
